.fof {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fof__card {
  display: flex;
  flex-direction: column;
}

.fof__title {
  font-weight: 900;
  font-size: 6rem;
}

.fof__link {
  color: inherit;
}

.fof__btn {
  text-align: center;
  color: white;
  background-color: #e2513e;
  border: none;
  border-radius: 8px;
  padding: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.fof__btn:hover {
  background-color: #fd6754;
}
